@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('ttf'),
    url('../assets/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: 400;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#truck {
    max-width: 50%;
    height: auto;
}

.truck-driving {
    max-width: 50%;
    height: auto;
    position: relative;
    animation: drive 3s linear infinite;
}

@keyframes drive {
    0% {
        transform: translateX(150%); /* Start off-screen to the left */
    }
    50% {
        transform: translateX(50%); /* Center on the screen */
    }
    100% {
        transform: translateX(-150%); /* End off-screen to the right */
    }
}

.spinner-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.spinner {
    margin: 20px 0;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #CC2027;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#display {
    font-size: 24px;
    margin-left: 35px;
    color: #333;
}

#loading {
    font-size: 24px;
    margin-left: 35px;
    color: #333;
}

#countdown {
    font-size: 18px;
    margin-top: 20px;
    color: #999999;
}

#support {
    font-size: 18px;
    margin-top: 20px;
    color: #333333;
}
